/* Reset some default styles for consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Apply a box-sizing border-box for consistent sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Common styles for all screen sizes */
body {
    font-family: 'Work Sans', sans-serif;
    background-image: url('background.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-color: rgba(51, 51, 51, 0.7);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
    margin: 10px auto 20px auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto;
}

.logo {
    font-size: 48px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 30px;
}

.countdown {
    display: flex;
    justify-content: space-around;
}

.countdown div {
    text-align: center;
}

.countdown span {
    font-size: 24px;
    font-weight: bold;
}

/* Contact Section Styles */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.contact-item {
    flex: 1;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-item h3 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 18px;
    color: #ccc;
}

/* Responsive Design for Small Screens */
@media screen and (max-width: 768px) {
    .logo {
        font-size: 36px; /* Slightly reduce logo size on small screens */
    }

    h2 {
        font-size: 28px; /* Slightly reduce heading size on small screens */
    }

    p {
        font-size: 16px; /* Slightly reduce paragraph text size on small screens */
    }

    .countdown span {
        font-size: 20px;
    }

    .contact-item h3 {
        font-size: 20px; /* Slightly reduce contact item heading size on small screens */
    }

    .contact-item p {
        font-size: 16px;
    }
}
